# Add any directories, files, or patterns you don't want to be tracked by version control
*~
*.dvi
*.ps
*.pdf
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.swp
*.nfs*
*.synctex*
*~
*.zip
*.pyc
(.*/)?\#[^/]*\#$
